/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Theme Variables */

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: rgb(249, 249, 249);
        --text-color: rgb(8, 8, 8);
        --result-bg-color: rgb(255, 255, 255);
        --percent-color: rgb(97, 97, 97);
        --outline: rgb(0, 0, 0); 
    }

    ::selection {
        background-color: rgb(50, 50, 50);
        color: rgb(250, 250, 250);
    }

    ::-moz-selection {
        background-color: rgb(50, 50, 50);
        color: rgb(250, 250, 250);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(8, 8, 8);
        --text-color: rgb(255, 255, 255);
        --result-bg-color: rgb(23, 23, 23);
        --percent-color: rgb(180, 180, 180);
        --outline: #4D90FE;
    }

    ::selection {
        background-color: rgb(255, 255, 255); /* Change this to your desired color */
        color: rgb(8, 8, 8);
    }

    ::-moz-selection {
        background-color: rgb(255, 255, 255); /* Change this to your desired color */
        color: rgb(8, 8, 8);
    
    }
}

/* Container */
.container {
    margin: 50px 30px;
    padding: 20px;
}

/* Input Container */
.input-container {
    position: relative;
    margin-top: 100px;
    text-align: center;
}

/* Placeholder Text */
#placeholder-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 72px;
    color: rgb(140, 140, 140);
    pointer-events: none;
    text-align: left;
    z-index: 1;
    transition: opacity 0.2s;
}

/* Large Input Field */
#large-input {
    width: 100%;
    font-size: 72px;
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    text-align: left;
    caret-color: var(--text-color);
    z-index: 2;
    position: relative;
}

/* Hide Placeholder When Input Has Content */
.hide-placeholder #placeholder-text {
    opacity: 0;
}

/* Search Results Section */
#search-results {
    margin-top: 50px;
    padding-left: 50px; /* Increased padding */
    padding-right: 50px; /* Increased padding */
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Your Search */
.your-search {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Search Term Input */
#search-term {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--text-color);
    font-size: 72px;
    padding: 5px 0;
    margin-bottom: 50px;
    background: none;
    color: var(--text-color);
    outline: none;
}

/* Your Results */
.your-results {
    font-size: 26px; /* Reduced font size */
    font-weight: 400; /* Increased font weight */
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Results Container */
#results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Individual Result Box */
.result-box {
    display: grid;
    grid-template-columns: 250px 1fr auto;
    align-items: center;
    background-color: var(--result-bg-color);
    padding-left: 20px;
    padding-right: 60px; /* Right padding 3 times left padding */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    cursor: pointer; /* Make the result box cursor a pointer */
}

/* Ensure links inside result box have default cursor */
.result-box a {
    cursor: default;
}

/* Hover Effect */
.result-box:hover .result-title {
    text-decoration: underline;
}

/* Result Text Styling */
.result-tag {
    font-size: 14px;
}

.result-title {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
}

/* Adjusted Link Styling */
.result-title a {
    color: inherit;
    text-decoration: none;
}

.result-title a:hover {
    text-decoration: underline;
}

.result-match {
    font-size: 13px;
    color: var(--percent-color);
    text-align: right;
}

/* Adjusting Margins */
body {
    margin: 0 20px;
}

/* Highlight focused result boxes */
.result-box:focus {
    outline: 2px solid var(--outline); /* Or any color that suits your theme */
}

@media (max-width: 960px) {
    .result-box {
        grid-template-columns: 1fr; /* Switch to a single column */
    }
    .result-title {
        margin-bottom: 20px; /* Add spacing between elements */
    }
    .result-tag {
        margin-bottom: 20px; /* Add spacing between elements */
    }
    .result-match {
        text-align: left; /* Adjust alignment if needed */
    }
}
